<html>
<head>
<title>How To Buy</title>
</head>

<body BGCOLOR="#FFFFFF">
<div align="center">
<h1><font color="#CC0000">How To Buy</font></h1>

<P>
<table align="center" WIDTH="90%" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD>
<font color="#000099">
At MassAdvertiser.com, we make it easy for you to find and buy the items that interest 
you. Each and every item has contact information listed above that you can feel free to 
use directly. We will provide either a phone number or an email address with each item, 
depending on the seller's preference. In some cases, the seller may ask that we act as 
a broker for them, in which case you might see our phone number listed instead. In most 
cases, however, you can contact the seller directly with any questions you might have. 
In addition, you will also find items listed that are located, and on display, at Fred's
Auction House in Leominster. You can feel free to stop by during our store hours to take
a look, or you can <A HREF="/contact.html">contact</A> us to make an appointment to see
an item, should our store hours not be convenient for you.
<P>
Our goal is simple. We try to connect serious buyers with serious sellers. We never 
charge buyers for this service and, as mentioned above, financial transactions will 
usually take place directly between you and the seller. 
<P>
So, feel free to browse around at the items we currently have listed. You can browse by 
category or browse them all at once by simply clicking the links to the left that 
interest you. Have fun, shop around, and most of all enjoy.
<P>
Fred R. Tousignant
<BR>
Owner & Manager 
</font>
</TD></TR></TABLE>
</div>
</body>
</html>
