<html>
<head>
<title>Contact Us</title>
</head>

<body BGCOLOR="#FFFFFF">
<div align="center">
<h1><font color="#CC0000">Contact Us</font></h1>

<P>
<table align="center" WIDTH="90%" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD>
<font color="#000099">

<U>OUR ADDRESS</U>
<BR>
<BR>
<B>
Fred's Auction House<BR>
92 Pleasant Street<BR>
Leominster, MA 01453<BR>
(978) 534-9004
<BR><BR>
Email:<A HREF="mailto:admin@fredsauction.com">admin@fredsauction.com</A>
</B>

<P>

<U>STORE HOURS</U>
<BR>
<BR>
<B>
FRIDAY 12:00 - 5:00 PM
<BR>
SATURDAY 9:00 AM - 1:00 PM 
<BR>
(or by appointment or chance) 
</B>
</font>
</TD></TR></TABLE>
</div>
</body>
</html>

