<HTML>
<HEAD>
<TITLE>20 Day Countdown</TITLE></TEST>
</HEAD>

<FRAMESET ROWS="140,*" FRAMEBORDER="1" BORDER="1" FRAMESPACING="0">
<frame name="top" scrolling="no" noresize src="/top">
<FRAMESET COLS="250,*">
<frame name="menu" scrolling="auto" src="/left">
<frame name="main" src="/main">
</FRAMESET>
</FRAMESET>

<NOFRAMES>
<BODY>
<H1>WELCOME TO THE FUTURE HOME OF <BR> 20 Day Countdown <BR> COMING SOON</H1>
<P>
<A HREF="http://www.auctionbyemail.com">Click Here</A>
<BR>to Visit Our AuctionByEmail Website.
</BODY>
</NOFRAMES>

</HTML>
