<html>
<head>
<title>How To Consign</title>
</head>

<body BGCOLOR="#FFFFFF">
<div align="center">
<h1><font color="#CC0000">How To Consign</font></h1>

<P>
<table align="center" WIDTH="90%" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD>
<font color="#000099">
At MassAdvertiser.com, we have one goal in mind. We connect serious sellers with serious
buyers. We make it incredibly easy for you to list and sell your items at a price you 
feel is fair. We offer MassAdvertiser.com as a risk-free alternative to those sellers 
who are not as comfortable with the inherent risks that are sometimes associated with 
our <A HREF="http://www.auctionbyemail.com">AuctionByEmail</A> format.
<P>
The process is simple. Take a look at our options and fee schedule below. Choose the 
options that you feel will best sell your item, and then <a href="/contact">contact
</A> us to get started. It's easy, it's affordable, and it's a great way to get your
items sold.
<P>
<U>Services and Pricing</U>
<IMG SRC="{{ STATIC_URL }}images/new.gif">
<br>
<UL>
<LI> Standard 4&quot; x 4&quot; advertisement w/ photo, description, and contact info - Only $20.00
<LI> <b>OR</b> advertise 5 items for only $75.00.
<LI> We can even come to your location - add $1 per mile (one-way) travel charge. 
<br>(Calculated from 5 Summer Street, Lunenburg)

<!--
<LI> **Special - Become a listing agent and get unlimited listings for $100.00 and then $5.00 per item.
-->

<LI> Additional photo's - add $10.00.
<LI> Rotated as a featured item on our home page - add $10.00.
<LI> Brokerage fees - extra (<A HREF="/contact">contact us</A>)
</UL>
<font size="-1">**Advertisement size may vary with browser and screen resolution.</font>
<P>
Fred R. Tousignant
<BR>
Owner & Manager 
</font>
</TD></TR></TABLE>
</div>
</body>
</html>

