<HTML>
<HEAD>
<TITLE>20 Day Countdown</TITLE></TEST>
<LINK REL="stylesheet" TYPE="text/css" HREF="{{ STATIC_URL }}top.css">
</HEAD>

<BODY>

<TABLE WIDTH="100%" HEIGHT="100%" CELLSPACING=2>

<TR><TD COLSPAN=4>
<IMG SRC="{{ STATIC_URL }}images/consign.gif" HEIGHT=44>
</TD></TR>

<TR><TD COLSPAN=4>
<H2>A Division of Fred's Auction Gallery and <A HREF="http://www.auctionbyemail.com" TARGET="new">AuctionByEmail.com</A></H2>
</TD></TR>

<TR>
<TD CLASS="menu" WIDTH="25%"><A HREF="/main" TARGET="main">Home</A></TD>
<TD CLASS="menu" WIDTH="25%"><A HREF="/buy" TARGET="main">How To Buy</A></TD>
<TD CLASS="menu" WIDTH="25%"><A HREF="/sell" TARGET="main">How To Consign</A></TD>
<TD CLASS="menu" WIDTH="25%"><A HREF="/contact" TARGET="main">Contact Us</A></TD>
</TR>

</TABLE>
</BODY>
</HTML>
