A:link{color: #0000FF;}
A:active{color: #0000FF;}
A:visited{color: #0000FF;}

BODY, TABLE, H1, H2 {text-align:center; vertical-align:top; background:#FFFFFF;}

H1 {color:red; font:20pt Helvetica;}
H2 {color:red; font:18pt Helvetica;}
H5 {color:red; font:14pt Helvetica;}

TABLE.center1{ 
	       margin-left: auto;
	       margin-right: auto;
}
 
DIV.center2{ 
	     text-align: center;
}

TD {	
	color:#000099;
	font:10pt Helvetica; 
	font-weight:bold; 	
	background:#CCCCCC;
}


TD.img {	
       	text-align:center;	
	vertical-align:middle;
	background:#FFFFFF;
	font:8pt Helvetica; 
}

TD.outer {
	vertical-align:middle;
	 text-align:center;		
	background:#FFFFFF;
}

TD.desc {	
	color: #000099;
	font-weight:normal;
	background:#FFFFFF;
	text-align:left;
	vertical-align:top;	
}

TD.price {
	vertical-align:middle;	
	text-align:center;			
	color:#CC0000;
}

TD.blank {
	vertical-align:middle;
	text-align:center;		
	background:#FFFFFF;
}

TD.error {
	vertical-align:middle;
	text-align:center;		
	color:blue;
	font:18pt Helvetica; 
	background:#FFFFFF;
}


